html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
}

h1,
h2,
h6 {
    font-family: Raleway;
}

table,
td,
th {
    text-align: center;
    width: 14.2%;
    padding: 5px;
}

th {
    background: #DDEEEE;
}

table {
    width: 400px;
    border-collapse: collapse;
}

@media only screen and (max-width: 1026px) {
    #toc {
        display: none;
    }
}

@media only screen and (min-width: 1026px) {
    #burger {
        display: none;
    }
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    background-color: #f1f1f1;
}

.parallax {
    /* The image used */
    background-image: url("media/main.png");

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 1rem;
    /* Footer height */
}

/* Custom styles to create a full-page image */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-page-image {
    background-image: url(media/roboset_bigbanner.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.orange {
    /* Add a semi-transparent over to the image if needed */
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.jay {
    /* Center your content vertically and horizontally */
    position: absolute;
    bottom: 0;
    /* right: 25; */
    /* transform: translate(-50%, -50%); */
    z-index: 20;
    color: #fff;
    /* Set the color for your content */
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 150%;
}

.banner-state {
    height: 400px;
    /* or whatever height you want for the banner */
    transition: height 1.5s ease;
}

.ncont .jay {
    opacity: 0;
    /* transition: opacity 1s ease; */
    transition: opacity 1.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /* #transition: opacity 1.0s ease; */
    transition: opacity 1.0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}